/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:400,300,700);

$small-only: "only screen and (max-width:728px)";
$medium-down: "only screen and (max-width:960px)";
$medium-only: "only screen and (min-width:729px) and (max-width:960px)";
$medium-up: "only screen and (min-width:729px)";
$large-up: "only screen and (min-width:961px)";
$orange : #F15A29;

@mixin circle_deco ($circle_display:inline-block){
  display: $circle_display;
  width: 5px;
  height: 5px;
  margin: 2px;
  vertical-align: middle;
  border-radius: 1rem;
  background-color: #666;
}

body {
  background-image: url('/assets/bg.jpg');
  background-size: tiled;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.7px;
  // @media #{$small-only}{
  //   max-width: 728px;
  // }

}

h1 {
  margin: 1rem 0;
  font-size: 1.4rem;
  // background-color: #ccc;
  font-family: 'Oswald',sans-serif;
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  @media #{$medium-up}{
    font-size: 1.2rem;
  }
}

h2 {
  // font-family: 'Oswald', sans-serif;
  display: inline-block;
  font-size: 1.03rem;
  font-weight: 400;
  color: #999;
  @media #{$medium-up}{
    font-size: 0.8rem;
  }
}

p {
  font-size: 1.1rem;
  color: #666;
  padding-top: 1rem;
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  @media #{$small-only}{
    -webkit-line-clamp: 3;
  }
  @media #{$medium-up}{
    font-size: 0.9rem;
  }
}

a {
  font-size: 1.1rem;
  color: #666;
  text-decoration: none;
  // background-color: #fff;
  &:hover {
    color: #EB4121;
  }
}

.logo_bar {
  height: 4rem;
  padding: 0 0.4rem;
  background-color: #FFF;
  
  @media #{$medium-up}{
    background-image: url('/assets/header_bg.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

span.logo {
  width: 100%;
  height: 4rem;  
  display: inline-block;
  margin: auto;
  background-image: url('/assets/logo.svg');
  background-repeat: no-repeat;
  // background-color: red;
  @media #{$medium-up}{
    background-position: center;
  }
}

nav {
  font-family: 'Oswald', sans-serif;
  background-color: #333;
  text-align: center;
  color: #666;
  margin-bottom: 1rem;
  @media #{$small-only}{
    // margin-bottom: 1rem;
  }  
  div {
    font-size: 1rem;
    font-weight: 500;
    height: 1rem;
    display: inline-block;
    background-color: #333;
    padding: 1rem 0;
    @media #{$small-only}{
      padding: 1rem 2rem;
      &:nth-child(2){
        border-left: thin solid #666;
        border-right: thin solid #666;
      }    
    }
    @media #{$medium-up}{
      span.circle {
        @include circle_deco();
      }
    }
  }
}
.content {
  display: block;
  max-width: 715px;
  height: 800px;
  margin: auto;
  // padding: 0 12rem;
  // background-color: #fff;
  @media #{$small-only}{
    max-width: 600px;
  }
}
.article_container {
  margin: 1rem;
  background-color: #FFF;
  width: 450px;
  height: 475px;
  padding: 1.5rem;
  float: left;
  box-sizing: border-box;
  border: thick solid #FFF;
  span.circle {
    @include circle_deco();
  }
  &:hover {
    border: thick solid #F38118;
  }
  @media #{$small-only}{
    margin: 0 1rem 1rem 1rem;
    height: 480px;
  }
  @media #{$medium-up}{
    width: 325px;
    height: 400px
  }
}

.img_article {
  background-image: url('http://placekitten.com/g/250/400');
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 250px;
  margin: 0;
  box-sizing: border-box;
  @media #{$medium-up}{
    background-size: 275px 170px;
    width: 275px;
    height: 170px;
  }
}

footer {
  .footer_icons {
    // position: relative;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 1rem;
    height: 1rem;
    padding: 0.3rem 0 1.8rem 0;
    background-color: #333;
    // margin-top: -4rem;
  }
  img {
    padding: 0.3rem;
  }
  @media #{$medium-down}{
    display: none;
  }
}

.facebookicon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('/assets/facebook_grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.2rem;
  &:hover {
    background-image: url('/assets/facebook_orange.svg');
  }
}

.instagramicon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('/assets/instagram_grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.2rem;
  &:hover {
    background-image: url('/assets/instagram_orange.svg');
  }
}

.plus_sign {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.4rem;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
  height: 26px;
  width: 26px;
  float: right;
  border: solid 2px $orange;
  margin: 1rem;
  color: #A62F1D;
  &:hover{
    color: #FFF;
    background-color: #EB4121;
  }
}

.shadow {
  box-shadow: 1px 1px 0.7rem 1px #333;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
}

